.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.anchor {
  color: red;
}

.loadIn {
  animation: fade-in 3s;
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  background-color: 'gray';
}

@media only screen and (max-width: 600px) {
  .loadIn {
    animation: fade-in 3s;
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
    background-color: 'gray';
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
